<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forçar HTTPS (se necessário)
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirecionar tudo para a pasta public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>